@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 18px;
}
body {
  display: flex;
  flex-direction: column;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: 100vh;
  background: #ffffff;
}
header {
  display: flex;
  padding: 5rem 0;
  align-items: center;
}
.title {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 2rem;
}
header,
main {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
}
main {
  display: flex;
  flex-wrap: wrap;
}

.book {
  padding: 30px;
  background: white;
  border-radius: 5px;
  width: max(300px, 18vw);
  height: 350px;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.book:not(:last-child) {
  margin: 0 25px 45px 0;
}
.book:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 50%;
  left: 0;
  bottom: 20px;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}
.book .book-content {
  margin: auto;
  text-align: center;
}
.book h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.book p {
  display: block;
  margin-bottom: 25px;
}
.book p small {
  color: #4f2edc;
  font-weight: 700;
  font-size: .9rem;
}
.book a {
  color: #69c6b8;
  pointer-events: auto;
}
.book__delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background:none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.book__delete:hover {
  color: #777;
}
@media screen and (max-width: 700px) {
  .book {
    width: 100%;
  }
}

/* Checkboxes */

.toggle {
  position: relative;
  margin-left: 75px;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9a9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  margin-left: -75px;
  position: absolute;
  top: 0;
}
.toggle div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle div:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.readCbx:checked + .toggle:before {
  background: #947ada;
}
.readCbx:checked + .toggle div {
  background: #4f2edc;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.readCbx:checked + .toggle div:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

/* Modal */

.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.details-modal .details-modal-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
}
.details-modal .details-modal-close svg {
  display: block;
}
.details-modal .details-modal-title {
  color: #111827;
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
}
.details-modal .details-modal-title h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
.details-modal .details-modal-content {
  border-top: 1px solid #e0e0e0;
  padding: 2em;
  pointer-events: all;
  overflow: auto;
}
.details-modal-content label {
  padding-left: 10px;
}
.addBookCbxLabel div {
  left: 10px;
}
.details-modal-content input[type=text], .details-modal-content input[type=number] {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1em;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
input::placeholder {
  color: #ccc;
}

.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(15, 23, 42, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
}
details[open] .details-modal-overlay {
  pointer-events: all;
  opacity: 0.5;
}

details summary, .details-modal-content button {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background-color: #4f2edc;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
}
details summary:focus {
  outline: none;
}
details summary::-webkit-details-marker {
  display: none;
}

.details-modal-content form {
  position: relative;
  padding-bottom: 20px;
}
.details-modal-content button {
  position: absolute;
  bottom: -10px;
  right: 0;
  padding: 12px 1rem;
}
.details-modal-content .messages {
  color: #f00;
  font-size: .9rem;
}
.details-modal-content .messages span {
  display: block;
}